<div class="product-option-row">
  <div class="product-option-label" @click="option.visible = !option.visible" :class="{ labelActive: option.visible }">
    ${ option.name }: <span>${ selected[i] }</span>
  </div>
  <div class="product-option-list" v-if="option.visible">
    <template v-for="(value, index) in option.values">
      <div class="product-option-item"
        @click="
          selected[i] = value;
          option.visible = false;
          form.selections[i] = value;
        "
      >
        ${ value }
      </div>
    </template>
  </div>
</div>