<div class="hero-image section">
  <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.alt }}">
</div>

{% schema %}
{
  "name": "Hero Image",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "alt",
      "label": "Alt Text",
      "default": "Hero Image"
    }
  ],
  "presets": [
    {
      "name": "Hero Image",
      "category": "Image"
    }
  ]
}
{% endschema %}