<div class="rich-text section">
  <h2 class="heading center">
    {{ section.settings.title }}
  </h2>
  <div class="center padding-top">
    {{ section.settings.text }}
  </div>
</div>

{% schema %}
{
  "name": "Rich Text",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Section Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Description",
      "default": "<p>Write your description here</p>"
    }
  ],
  "presets": [
    {
      "name": "Rich Text",
      "category": "Text"
    }
  ]
} 
{% endschema %}